#container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    #title{
        width: 100%;
        height: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
    }

    #list{
        width: 100%;
        list-style: none;

        .listItem{
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;

            p{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 5rem;
                aspect-ratio: 1/1;

                border-radius: 50%;
                font-size: 3rem;
                background-color: blue;
                color: white;
                cursor: pointer;
            }
        }
    }

    #display{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 80vw;
        height: 70vh;
        background-color: rgba(0, 0, 0, 0.7);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        i{
            position: absolute;
            z-index: 20;
            font-size: 3rem;

            top: 1rem;
            right: 1rem;
            color: red;
            cursor: pointer;
        }
    }
}